spring:
  application:
    name: bff-doctor
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true
server:
  port: 8080
